@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

main {
    font-family: Roboto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

header.navbar {
    width: 100%;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    box-shadow: 0px 2px 10px 0px lightgray;
}

h1 {
    text-align: center;
    padding: 0.5em;
    font-size: 40pt;
    text-shadow:0px 1px 0px #ffee66;
}

div.job-search-card {
    width: 70%;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}


div.input-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2em;
    margin: 0.2em;
}

input.input-box {
    width: 80%;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 10px;
    border-width: 0.05em;
}

#search-button {
    width: 10%;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

div.job-search-results {
    width: 70%;
    box-shadow: 0px 1px 0px 0px #fff6af;
	border-radius:6px;
	border:1px solid #ffaa22;
	font-size:15px;
	padding:6px 24px;
    display: flex;
    flex-direction: column;
}

table.job-search-results {
    margin: 0.5em;
}

#searchData {
    width: 70%;
    margin: 1em;
    font-size: 10pt;
    text-align: right;
    font-style: italic;
}

.table-header th {
    text-align: left;
}

th, td {
    width: 50%;
}

th {
    border-bottom: 0.5px solid darkgrey;
    height: 2.5em;
}

button.clear-button {
    margin-left: 0.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	text-shadow:0px 1px 0px #b23e35;
}
